.container
  ul(class="nav navbar-nav navbar-right")
    li(class="#{_index}"): a(href="index.html") Portada
    li(class="#{_nosotros}"): a(href="nosotros.html") Nosotros
    li(class="dropdown #{_servicios}")
      a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Servicios <span class="caret"></span>
      ul(class="dropdown-menu")
        li: a(href="evaluaciones.html") Evaluaciones Psicológicas 
        li: a(href="orientacion-vocacional.html") Orientación Vocacional 
        li: a(href="talleres.html") Talleres 
    li(class="#{index}"): a(href="#") Noticias y Eventos
    li(class="#{index}"): a(href="#") Contáctanos
    li(class="#{index}"): a(href="#") 941404447/986552756
    
    
